/* General */
* {
    box-sizing: border-box;
} 
body {
        font-family: Arial, 'Helvetica Neue', Helvetica,  sans-serif;
        font-size: 12px;
        line-height: 10px;
        color: #777777;
        max-width: 960px;
        margin: 10px;
        clear: both;
}
        
h1, h2, h3 { color: #4aaaa5;
       font-family: Georgia, Times, "Times New Roman", serif;
       font-weight: 700;
}

h1 {
    color: #ffffff;
    font-size: 17px;
    line-height: 20px;
}

h2, h3 {
     font-size: 12px;
     color: oldlace; 
}

p {
     font-size: 10px;
     color: teal;
 }

div#background-display {
     background-image: url("../images/background.png");
     background-repeat: repeat;
     background-position: right top;
     width: 473px; height: 544px;
     line-height: 10px;
     margin: 0px;
     padding: 0px;
}

div#left-panel {
    margin: 10px;
    padding: 10px;  
 }

div#title-box { background-color: darksalmon;
              height: 54px;
              width: 200px;
              text-align: center;
              vertical-align: middle;
              margin: 10px;
              padding: 5px;
}

#instructions {
    background-color: linen;
    height: 175px;
    width: 300px;
    margin: 10px;
    padding: 5px;
}

#random-crystal-target-box { 
    background-color: green;
    color: seashell;
    height: 40px;
    width: 120px;
    float: left;
    margin: 10px;
    padding: 5px;
}

div#stats-box {
    background-color: aqua;
    color: green;
    height: 40px;
    width: 100px;
    float: left;
    margin: 10px;
    padding: 5px;
}

div#crystal-spacer { 
    clear: both;
    background-color: white;
    height: 70px;
    width: 277px;
    margin: 10px;
    padding: 5px;
}
.crystal {
    height: 64px;
    width: 64px;
 }

.opaque { opacity: 1.0; }
.transparent { opacity: 0.0; }

#total-score-box {
    background-color: #4aaaa5;
    color: white;
    height: auto;
    width: 200px;
    margin: 10px;
    padding: 5px;
}

#player-crystal-guess-box {
    background-color: #4aaaa5;
    color:white;
    height: 50px;
    width: 200px;
    margin: 10px;
    padding: 5px;
}
